.resizable-image-wrapper {
  display: inline-block;
  position: relative;
  max-width: 100%;
}

.resizable-image-wrapper .ProseMirror-selectednode {
  outline: 2px solid #3b82f6;
  border-radius: 0.5rem;
}

.resizable-image-wrapper img {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
